<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xco.record.mapper.MsgSaveMapper">
    <insert id="insertMember" parameterType="map">
        <selectKey keyProperty="id" resultType="java.lang.Integer">
            select @@identity as id
        </selectKey>
        insert into member(qq_code)
        values (#{qqCode})
    </insert>

    <select id="selectMemberIdByQQCode" resultType="java.lang.Integer">
        select id
        from member
        where qq_code = #{qqCode}
    </select>

<!--    <insert id="insertRecallInfo">-->
<!--        insert into recall(recall_source, time_stamp, author_id, author_name, operator_id, operator_name)-->
<!--        values (#{recallSource}, #{timeStamp}, #{authorId}, #{authorName}, #{operatorId}, #{operatorName})-->
<!--    </insert>-->
</mapper>