<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xco.mapper.WindowsMessageMapper">
    <select id="selectList" resultType="xco.entity.WindowsMessageTableDO">
        select m.Time, m.SenderUin, m.MsgContent, s.Seq
        from "${targetType}_${targetNumber}" m
                 left join "${targetType}$${targetNumber}$Seq$" s
                           on s.Rand = m.Rand
    </select>
</mapper>